@{
    ViewData["Title"] = "Scheduled Drive(s)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>


<!-- DataTables -->
<link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="../../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header clearfix">
                <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#modal-lg"><i class="fas fa-plus"></i> Create Drive(s)</button>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example2" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Drive Name</th>
                            <th>Date</th>
                            <th>Department</th>
                            <th>Organizer</th>
                            <th>Drive Start-Drive End</th>
                            <th>Break Start-Break End</th>
                            <th>Status</th>
                            <th style="width: 20%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Drive1</td>
                            <td>19/10/2021</td>
                            <td>Merchant</td>
                            <td>Sneha</td>
                            <td>10:00 AM-6:00 PM</td>
                            <td>1:00 PM-2:00 PM</td>
                            <td><span class="badge badge-info">In progress</span></td>
                            <td class="project-actions text-right">
                                <a class="btn btn-primary btn-sm" href="@Url.Action("DrivesDetails","Drives")">
                                    <i class="fas fa-folder">
                                    </i>
                                    View
                                </a>
                                <a class="btn btn-info btn-sm" href="#">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit
                                </a>
                                <a class="btn btn-danger btn-sm" href="#">
                                    <i class="fas fa-trash">
                                    </i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Drive2</td>
                            <td>19/10/2021</td>
                            <td>Merchant</td>
                            <td>Sneha</td>
                            <td>10:00 AM-6:00 PM</td>
                            <td>1:00 PM-2:00 PM</td>
                            <td><span class="badge badge-info">In progress</span></td>
                            <td class="project-actions text-right">
                                <a class="btn btn-primary btn-sm" href="@Url.Action("DrivesDetails","Drives")">
                                    <i class="fas fa-folder">
                                    </i>
                                    View
                                </a>
                                <a class="btn btn-info btn-sm" href="#">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit
                                </a>
                                <a class="btn btn-danger btn-sm" href="#">
                                    <i class="fas fa-trash">
                                    </i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Drive3</td>
                            <td>19/10/2021</td>
                            <td>Merchant</td>
                            <td>Sneha</td>
                            <td>10:00 AM-6:00 PM</td>
                            <td>1:00 PM-2:00 PM</td>
                            <td><span class="badge badge-success">Completed</span></td>
                            <td class="project-actions text-right">
                                <a class="btn btn-primary btn-sm" href="@Url.Action("DrivesDetails","Drives")">
                                    <i class="fas fa-folder">
                                    </i>
                                    View
                                </a>
                                <a class="btn btn-info btn-sm" href="#">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit
                                </a>
                                <a class="btn btn-danger btn-sm" href="#">
                                    <i class="fas fa-trash">
                                    </i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Drive4</td>
                            <td>19/10/2021</td>
                            <td>Merchant</td>
                            <td>Sneha</td>
                            <td>10:00 AM-6:00 PM</td>
                            <td>1:00 PM-2:00 PM</td>
                            <td><span class="badge badge-warning">Not Started</span></td>
                            <td class="project-actions text-right">
                                <a class="btn btn-primary btn-sm" href="@Url.Action("DrivesDetails","Drives")">
                                    <i class="fas fa-folder">
                                    </i>
                                    View
                                </a>
                                <a class="btn btn-info btn-sm" href="#">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit
                                </a>
                                <a class="btn btn-danger btn-sm" href="#">
                                    <i class="fas fa-trash">
                                    </i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>


<div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Drive</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Information</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="inputName">Drive Name</label>
                                    <input type="text" id="inputName" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="inputOrganizer">Organizer</label>
                                    <input type="text" id="inputOrganizer" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="inputDepartment">Department</label>
                                    <input type="text" id="inputDepartment" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="inputdate">Date</label>
                                    <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate" />
                                        <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputDriveStart">Drive Start</label>
                                    <div class="input-group date" id="reservationdatetime1" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" data-target="#reservationdatetime1" />
                                        <div class="input-group-append" data-target="#reservationdatetime1" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>                            
                                <div class="form-group">
                                    <label for="inputDriveEnd">Drive End</label>
                                    <div class="input-group date" id="reservationdatetime2" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" data-target="#reservationdatetime2" />
                                        <div class="input-group-append" data-target="#reservationdatetime2" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputBreakStart">Break Start</label>
                                    <div class="input-group date" id="reservationdatetime3" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" data-target="#reservationdatetime3" />
                                        <div class="input-group-append" data-target="#reservationdatetime3" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputBreakEnd">Break End</label>
                                    <div class="input-group date" id="reservationdatetime4" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" data-target="#reservationdatetime4" />
                                        <div class="input-group-append" data-target="#reservationdatetime4" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputStatus">Status</label>
                                    <select id="inputStatus" class="form-control custom-select">
                                        <option selected disabled>Select one</option>
                                        <option>Not Started</option>
                                        <option>In Progress</option>
                                        <option>Completed</option>
                                    </select>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#example2").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf"]
            }).buttons().container().appendTo('#example2_wrapper .col-md-6:eq(0)');

            $('#reservationdatetime1, #reservationdatetime2,#reservationdatetime3,#reservationdatetime4').datetimepicker({ icons: { time: 'far fa-clock' } });
            //Date picker
            $('#reservationdate').datetimepicker({
                format: 'L'
            });
        })
    </script>
}