@model List<DriveEasyApplication.Web.Mvc.Models.PanelDetail>
@{
    ViewData["Title"] = "Panel Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- DataTables -->
<link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="../../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header clearfix">
                <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#modal-lg"><i class="fas fa-plus"></i> Add Panelist</button>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example3" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Employee ID</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Skills</th>
                            <th>Designation</th>
                            <th>Panel Role</th>
                            <th>Experience</th>
                            <th>Manager</th>
                            <th>Department</th>
                            <th>Manage</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (PanelDetail panel in Model)
                        {
                        <tr>
                            <td>@panel.Name</td>
                            <td>@panel.EmployeeID</td>
                            <td>@panel.Email</td>
                            <td>@panel.MobileNumber</td>
                            <td>@panel.Skills</td>
                            <td>@panel.Title</td>
                            <td>@panel.PanelRole</td>
                            <td>@panel.Experience</td>
                            <td>@panel.Manager</td>
                            <td>@panel.Department</td>
                            <td class="project-actions">
                                <a class="btn btn-info btn-sm" href="@Url.Action("Edit", "Panels", new { panelId = panel.PanelID })">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit
                                </a>
                                <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", "Panels", new { panelId = panel.PanelID })">
                                    <i class="fas fa-trash">
                                    </i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>

<form id="addPanelForm" method="post" enctype="multipart/form-data" asp-controller="Panels" asp-action="AddPanel">>
    <div class="modal fade" id="modal-lg">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Panelist</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Information</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="panelName">Panel Name</label>
                                        <input type="text" id="panelName" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="panelEmployeeID">Employee Id</label>
                                        <input type="text" id="panelEmployeeID" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="panelEmail">Email</label>
                                        <input type="text" id="panelEmail" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="panelMobileNumber">Mobile</label>
                                        <input type="text" id="panelMobileNumber" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="panelSkills">Skills</label>
                                        <input type="text" id="panelSkills" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="panelTitle">Designation</label>
                                        <input type="text" id="panelTitle" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="panelRole">Panel Role</label>
                                        <input type="text" id="panelRole" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="panelExperience">Experience</label>
                                        <input type="text" id="panelExperience" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="panelManager">Manager</label>
                                        <input type="text" id="panelManager" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="panelDepartment">Department</label>
                                        <input type="text" id="panelDepartment" class="form-control">
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="btnSubmit">Save changes</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
</form>
@section scripts{
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#example3").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf"]
            }).buttons().container().appendTo('#example3_wrapper .col-md-6:eq(0)');

            $('#reservationdatetime').datetimepicker({ icons: { time: 'far fa-clock' } });

        })

        $('#btnSubmit').on('click', function () {
            var url = $("#addPanelForm").attr("action");
            var formData = new FormData();
            formData.append("Name", $("#panelName").val());
            formData.append("Email", $("#panelEmail").val());
            formData.append("MobileNumber", $("#panelMobileNumber").val());
            formData.append("EmployeeID", $("#panelEmployeeID").val());
            formData.append("Skills", $("#panelSkills").val());
            formData.append("Manager", $("#panelManager").val());
            formData.append("PanelRole", $("#panelRole").val());
            formData.append("Experience", $("#panelExperience").val());
            formData.append("Title", $("#panelTitle").val());
            formData.append("Department", $("#panelDepartment").val());
            $.ajax({
                type: 'POST',
                url: url,
                data: formData,
                processData: false,
                contentType: false
            }).done(function (response) {
                if (response == "success") {
                    window.location.href = '/Panels';
                }
            });
        });

    </script>
}
